/*--------------скидання дифолтних стилів+щсновні правила----------------*/
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*------------------------------------------------- header ----------------------------------------------*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
  text-decoration: none;
  margin-right: 76px;
}

.menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-list:hover,
.header-list:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  column-gap: 40px;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/*------------------------------------------------------- section-one -----------------------------------------------*/
.section-one {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.section-one-title {
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.section-one-button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  display: block;
  height: 56px;
}

.section-one-button:hover,
.section-one-button:focus {
  background-color: #404bbf;
}

/*-------------------------------------- section-two ------------------------------------*/

.section-two {
  padding: 120px 0;
}

.section-two-title-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two-menu-benefits {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-two-menu-item {
  width: calc((100% - 72px) / 4);
}

.sections-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sections-two-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*------------------------------------------ section-three ----------------------------------------------*/

.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-three-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section-three-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-three-list-container {
  padding: 32px 0;
}

.section-three-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-three-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-three-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

/*------------------------------------------ section-four ----------------------------------------------*/

.section-four {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-four-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-four-list {
  width: calc((100% - 48px) / 3);
  padding-bottom: 0px;
}

.section-four-list-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-four-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-four-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-four-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*------------------------------------------ footer --------------------------*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.span-item {
  color: #f4f4fd;
}

.footer-par {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}

.logo-footer-link {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #4d5ae5;
  text-decoration: none;
}
